.Splash-maincontent {
  font-family: Goldplay;
  color: #0f393b !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 10rem;
  height: 100%;
  align-items: center;
}

.Splash-welcome {
  font-family: GoldplayAltBold;
  font-weight: 700 !important;
  font-size: 2rem;
  text-align: center !important;
}

.Splash-regrettablesummary {
  font-family: GoldplayLight;
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.8rem;
  color: #3d5e5f !important;
  text-align: center !important;
}

.Splash-nameinputmaincontainer {
  background-color: #eeebe3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  width: 90%;
  min-height: 30%;
}

.Splash-nameinputsubcontainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Splash-namerequest {
  font-family: GoldplayAltBold;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  padding: 0rem 3pc;
}

.Splash-nameinput {
  font-family: GoldplayAlt;
  border: 0;
  text-align: center;
  border-radius: 14px;
  width: 45%;
  font-size: 1.2pc;
  margin-top: 2rem;
  border: 2px solid transparent;
  transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;

  &:focus {
    border: 2px solid #0f393b;
    outline-width: 0;
  }
}

.Splash-buttoncontainer {
  padding: 1rem;
}

/* For Mobile */
@media screen and (max-width: 440px) {
  .Splash-maincontent {
    padding: 0;
    margin-top: 2rem;
  }

  .Splash-nameinput {
    margin: 0;
  }

  .Splash-welcome {
    margin: 0;
  }
}

@media screen and (min-width: 440px) and (max-width: 540px) {
  .Splash-maincontent {
    padding: 0;
  }

  .Splash-nameinput {
    margin: 0;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 1080px) {
  .Splash-maincontent {
    padding: 0;
  }

  .Result-regrettablesummary {
    margin-top: 0;
  }
}
