.Footer-maincontainer {
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Footer-copyright {
  color: #6b8483 !important;
  font-family: Goldplay, sans-serif;
  font-size: 1rem;
}

.Footer-trademark {
  position: relative;
  font-size: 1.7rem;
  top: 8px;
}
