body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Goldplay";
  src: local("Goldplay"), url(./fonts/Goldplay-Regular.woff) format("woff");
}

@font-face {
  font-family: "GoldplayAlt";
  src: local("GoldplayAlt"),
    url(./fonts/GoldplayAlt-Regular.woff) format("woff");
}

@font-face {
  font-family: "GoldplayAltBold";
  src: local("GoldplayAltBold"),
    url(./fonts/GoldplayAlt-Bold.woff) format("woff");
}

@font-face {
  font-family: "GoldplayLight";
  src: local("GoldplayLight"), url(./fonts/Goldplay-Light.woff) format("woff");
}
