.Test-maincontent {
  font-family: Goldplay;
  color: #0f393b !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 10rem;
  height: 100%;
  text-align: center;
}

.Test-title {
  font-family: GoldplayAltBold;
  margin-bottom: 4rem;
}

.Test-questiontitle {
  font-family: GoldplayAltBold;
}

.Test-questioncontainer {
  font-size: 25px;
  padding-bottom: 3rem;
}

.Test-questionoptions {
  font-size: 20px;
  text-align: left;
  padding: 0rem 3rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
}

.Test-questionmaincontainer {
  margin-top: 2rem;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .Test-maincontent {
    padding: 0;
  }

  .Test-questioncontainer {
    padding-bottom: 1rem;
  }

  .Test-questionoptions {
    padding: 0;
  }

  .Test-questionmaincontainer {
    margin: 0;
    padding: 0;
  }

  .Test-title {
    margin: 0;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .Test-maincontent {
    padding: 0;
  }
}
